.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2980b9;
    color: white;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 15px;
}

.navbar-right a:first-child {
    margin-right: auto;
}

.navbar a:hover,
.navbar a:focus {
    background-color: #fff;
    color: #2980b9;
}